extends ../partials/head
block content
  .usersmagic.usersmagic-content-outer-wrapper.usersmagic-go-down-animation-class 
    .usersmagic.usersmagic-header-wrapper
      .usersmagic.usersmagic-close-button
        i.usersmagic.fas.fa-times
        span.usersmagic Close
    //- .usersmagic.usersmagic-content-inner-wrapper
      span.usersmagic.usersmagic-title Hey there!
      span.usersmagic.usersmagic-text Would you like to answer some questions to receive custom discounts on the products you interest?
      span.usersmagic.usersmagic-button Continue
    //- .usersmagic.usersmagic-content-inner-wrapper
      span.usersmagic.usersmagic-title Enter your email
      span.usersmagic.usersmagic-text We need your email to recognize you for your discounts. Don't worry, your email won't ever be shared with or used by any third-party. You won't receive any email from us either.
      input.usersmagic.usersmagic-input(type="email" placeholder="E-mail" autocomplete="none")
      span.usersmagic.usersmagic-button Approve
    .usersmagic.usersmagic-content-inner-wrapper
      span.usersmagic.usersmagic-question-text What is your age?
      .usersmagic.usersmagic-choices-wrapper
        .usersmagic.usersmagic-each-choice.usersmagic-selected-choice
          .usersmagic.usersmagic-choice-text Male
        .usersmagic.usersmagic-each-choice
          .usersmagic.usersmagic-single-choice
            div
          .usersmagic.usersmagic-choice-text Female
        .usersmagic.usersmagic-each-choice
          .usersmagic.usersmagic-single-choice
            div
          .usersmagic.usersmagic-choice-text Other
        .usersmagic.usersmagic-each-choice
          .usersmagic.usersmagic-single-choice
            div
          .usersmagic.usersmagic-choice-text Prefer not to say
      //- input.usersmagic.usersmagic-input(type="number" placeholder="ex. 32")
      span.usersmagic.usersmagic-button Continue
    .usersmagic-footer-wrapper
      svg(width="98" height="20" viewBox="0 0 138 30" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M6.87299 7.75923C7.30241 6.80346 7.34387 5.24615 6.89705 3.60269C6.44986 1.95962 5.63063 0.654616 4.78326 0.0738463C4.35383 1.02962 4.31274 2.58692 4.75956 4.23038C5.20638 5.87346 6.02599 7.17846 6.87299 7.75923ZM10.8637 4.15269C11.2527 2.49385 11.1565 0.938846 10.6941 0C9.86785 0.612692 9.09451 1.94731 8.70544 3.60654C8.31637 5.26539 8.41225 6.82038 8.87462 7.75923C9.70089 7.14654 10.4746 5.81154 10.8637 4.15269ZM11.1058 11.5385C11.1058 9.63 9.6113 8.07692 7.77404 8.07692C5.93677 8.07692 4.44231 9.63 4.44231 11.5385V12.6923H11.1058V11.5385ZM7.95913 11.5385C7.88503 11.5405 7.81129 11.5271 7.74226 11.499C7.67323 11.4709 7.61031 11.4288 7.5572 11.375C7.50409 11.3213 7.46188 11.2571 7.43305 11.1861C7.40422 11.1152 7.38935 11.0389 7.38933 10.9619C7.3893 10.8849 7.40412 10.8087 7.43291 10.7377C7.46169 10.6667 7.50386 10.6025 7.55693 10.5487C7.61001 10.4949 7.6729 10.4527 7.74192 10.4246C7.81093 10.3965 7.88466 10.383 7.95876 10.385C8.10351 10.3888 8.24108 10.4513 8.34217 10.559C8.44325 10.6667 8.49985 10.8111 8.4999 10.9615C8.49995 11.112 8.44344 11.2565 8.34243 11.3642C8.24141 11.472 8.10387 11.5345 7.95913 11.5385ZM9.8101 11.5385C9.66282 11.5385 9.52158 11.4777 9.41745 11.3695C9.31331 11.2613 9.25481 11.1145 9.25481 10.9615C9.25481 10.8085 9.31331 10.6618 9.41745 10.5536C9.52158 10.4454 9.66282 10.3846 9.8101 10.3846C9.95737 10.3846 10.0986 10.4454 10.2027 10.5536C10.3069 10.6618 10.3654 10.8085 10.3654 10.9615C10.3654 11.1145 10.3069 11.2613 10.2027 11.3695C10.0986 11.4777 9.95737 11.5385 9.8101 11.5385ZM15.5481 13.8462H0V16.1538H3.33173L2.22115 30H13.3269L12.2163 16.1538H15.5481V13.8462Z" fill="#99D0DE")
        path(d="M30 17.1962V9.77306H32.6632V16.7862C32.6632 17.9771 33.25 18.5725 34.4238 18.5725C35.42 18.5725 36.1795 18.1625 36.7023 17.3426V9.77306H39.395V17.5622L39.5726 20.6369H37.1905L36.939 19.202C36.1499 20.3343 34.9614 20.9004 33.3733 20.9004C32.239 20.9004 31.3908 20.5539 30.8285 19.8609C30.2762 19.1581 30 18.2699 30 17.1962ZM46.0233 18.836C46.6447 18.836 47.1182 18.714 47.4437 18.47C47.7593 18.2162 47.9171 17.8843 47.9171 17.4744C47.9171 17.0156 47.7642 16.6886 47.4585 16.4934C47.1527 16.2884 46.6053 16.1518 45.8162 16.0835C44.2972 15.9663 43.2171 15.6784 42.576 15.2196C41.925 14.7609 41.5995 14.0532 41.5995 13.0966V12.9356C41.5995 11.8131 42.0039 10.959 42.8127 10.3734C43.6215 9.79746 44.6917 9.50952 46.0233 9.50952C48.9922 9.50952 50.4767 10.7443 50.4767 13.2138V13.3163H47.8579C47.8579 12.1547 47.2464 11.5739 46.0233 11.5739C45.4611 11.5739 45.0271 11.6911 44.7213 11.9253C44.4057 12.1596 44.2479 12.4719 44.2479 12.8624C44.2479 13.2918 44.3909 13.6042 44.6769 13.7994C44.9531 13.9946 45.4808 14.1215 46.26 14.1801C47.7494 14.307 48.8443 14.5852 49.5446 15.0146C50.2548 15.4539 50.6099 16.1957 50.6099 17.2401V17.3719C50.6099 18.4651 50.2203 19.3289 49.441 19.9634C48.6618 20.5881 47.5226 20.9004 46.0233 20.9004C44.5241 20.9004 43.3848 20.5686 42.6056 19.9048C41.8362 19.2313 41.4516 18.3675 41.4516 17.3133V17.2401H44.1295C44.1295 18.3041 44.7608 18.836 46.0233 18.836ZM62.165 14.9414V16.1859H54.9153C55.0139 17.9527 55.8375 18.836 57.3861 18.836C58.0766 18.836 58.6191 18.6701 59.0136 18.3382C59.418 17.9966 59.6202 17.6013 59.6202 17.1523H62.165V17.2401C62.165 18.265 61.7409 19.1288 60.8926 19.8316C60.0443 20.5442 58.8656 20.9004 57.3565 20.9004C55.66 20.9004 54.3827 20.4026 53.5245 19.407C52.6565 18.4114 52.2226 17.0986 52.2226 15.4685V14.9414C52.2226 13.3114 52.6516 11.9985 53.5097 11.0029C54.3679 10.0073 55.6156 9.50952 57.253 9.50952C58.8706 9.50952 60.0937 10.0073 60.9222 11.0029C61.7507 11.9985 62.165 13.3114 62.165 14.9414ZM57.1938 11.5739C55.7833 11.5739 55.0238 12.4573 54.9153 14.224H59.4575C59.3687 12.4573 58.6141 11.5739 57.1938 11.5739ZM69.5183 9.50952C69.5577 9.50952 69.6169 9.5144 69.6958 9.52416C69.7747 9.52416 69.8191 9.52416 69.829 9.52416V12.1157H69.3703C68.1867 12.1157 67.3384 12.4963 66.8255 13.2577V20.6369H64.1328V12.8477L63.9404 9.77306H66.3225L66.5592 11.0908C67.2891 10.0366 68.2755 9.50952 69.5183 9.50952ZM75.9986 18.836C76.62 18.836 77.0885 18.714 77.4042 18.47C77.7297 18.2162 77.8924 17.8843 77.8924 17.4744C77.8924 17.0156 77.7395 16.6886 77.4337 16.4934C77.128 16.2884 76.5806 16.1518 75.7915 16.0835C74.2725 15.9663 73.1875 15.6784 72.5365 15.2196C71.8954 14.7609 71.5748 14.0532 71.5748 13.0966V12.9356C71.5748 11.8131 71.9743 10.959 72.7732 10.3734C73.582 9.79746 74.6572 9.50952 75.9986 9.50952C78.9675 9.50952 80.452 10.7443 80.452 13.2138V13.3163H77.8184C77.8184 12.1547 77.2118 11.5739 75.9986 11.5739C75.4364 11.5739 74.9975 11.6911 74.6818 11.9253C74.3761 12.1596 74.2232 12.4719 74.2232 12.8624C74.2232 13.2918 74.3662 13.6042 74.6522 13.7994C74.9284 13.9946 75.4561 14.1215 76.2353 14.1801C77.7247 14.307 78.8196 14.5852 79.5199 15.0146C80.2301 15.4539 80.5851 16.1957 80.5851 17.2401V17.3719C80.5851 18.4651 80.1955 19.3289 79.4163 19.9634C78.6272 20.5881 77.488 20.9004 75.9986 20.9004C74.4993 20.9004 73.3601 20.5686 72.5809 19.9048C71.8115 19.2313 71.4269 18.3675 71.4269 17.3133V17.2401H74.09C74.09 18.3041 74.7262 18.836 75.9986 18.836ZM97.8809 13.0381V20.6369H95.1881V13.448C95.1881 12.3646 94.6703 11.8228 93.6346 11.8228C92.8061 11.8228 92.1255 12.2133 91.5929 12.9941V20.6369H88.9297V13.448C88.9297 12.3646 88.402 11.8228 87.3466 11.8228C86.5082 11.8228 85.8424 12.2133 85.3492 12.9941V20.6369H82.6565V12.8477L82.4641 9.77306H84.8462L85.0681 11.1201C85.8473 10.0464 86.9619 9.50952 88.4119 9.50952C89.8026 9.50952 90.7495 10.0805 91.2526 11.2225C91.9923 10.0805 93.1316 9.50952 94.6703 9.50952C95.7257 9.50952 96.5246 9.83163 97.0671 10.4758C97.6096 11.1103 97.8809 11.9644 97.8809 13.0381ZM109.125 20.6369H106.743L106.536 19.3924C105.648 20.3978 104.455 20.9004 102.956 20.9004C101.851 20.9004 101.022 20.6027 100.47 20.0073C99.9177 19.4021 99.6415 18.6359 99.6415 17.7086V17.5037C99.6415 16.4104 99.9769 15.6149 100.648 15.1171C101.308 14.6193 102.25 14.2777 103.473 14.0922L106.27 13.6676V13.6237C106.27 12.9112 106.132 12.3938 105.856 12.0717C105.589 11.7399 105.116 11.5739 104.435 11.5739C103.222 11.5739 102.615 12.1694 102.615 13.3602H100.056V13.1698C100.056 12.1254 100.396 11.2518 101.077 10.549C101.757 9.85603 102.901 9.50952 104.509 9.50952C106.137 9.50952 107.286 9.85603 107.956 10.549C108.627 11.2518 108.963 12.2767 108.963 13.6237V17.5622L109.125 20.6369ZM103.888 18.7042C104.904 18.7042 105.698 18.3285 106.27 17.5769V15.2928L103.962 15.6589C102.877 15.8346 102.334 16.3519 102.334 17.2108V17.3719C102.334 17.7428 102.462 18.06 102.719 18.3236C102.985 18.5774 103.375 18.7042 103.888 18.7042ZM117.869 20.4758V18.9531C117.159 19.7926 116.183 20.2123 114.94 20.2123C113.529 20.2123 112.494 19.7584 111.833 18.8507C111.162 17.9527 110.827 16.7081 110.827 15.1171V14.59C110.827 13.0576 111.162 11.8277 111.833 10.9004C112.513 9.97316 113.549 9.50952 114.94 9.50952C116.36 9.50952 117.416 10.0415 118.106 11.1054L118.343 9.77306H120.725L120.562 12.8477V20.5198C120.562 23.5066 118.949 25 115.724 25C114.067 25 112.873 24.6388 112.144 23.9165C111.404 23.1942 111.034 22.2328 111.034 21.0322V20.6369H113.579C113.579 21.3494 113.736 21.8912 114.052 22.2621C114.368 22.6232 114.905 22.8038 115.665 22.8038C116.444 22.8038 117.006 22.6232 117.351 22.2621C117.697 21.8912 117.869 21.2958 117.869 20.4758ZM117.869 16.6545V13.0673C117.327 12.2377 116.602 11.8228 115.694 11.8228C114.984 11.8228 114.442 12.0717 114.067 12.5695C113.702 13.0673 113.52 13.7408 113.52 14.59V15.1171C113.52 16.9619 114.244 17.8843 115.694 17.8843C116.592 17.8843 117.317 17.4744 117.869 16.6545ZM125.666 20.6369H122.974V9.77306H125.666V20.6369ZM122.855 5H125.8V7.88433H122.855V5ZM130.357 14.8829V15.5271C130.357 17.5573 131.096 18.5725 132.576 18.5725C133.217 18.5725 133.7 18.3968 134.026 18.0454C134.351 17.694 134.514 17.2401 134.514 16.6837H137.059V17.1083C137.059 18.2211 136.669 19.1288 135.89 19.8316C135.111 20.5442 133.981 20.9004 132.502 20.9004C130.894 20.9004 129.686 20.4124 128.877 19.4363C128.068 18.4602 127.664 17.1571 127.664 15.5271V14.8829C127.664 13.243 128.068 11.9351 128.877 10.959C129.686 9.99268 130.894 9.50952 132.502 9.50952C134.001 9.50952 135.135 9.87555 135.905 10.6076C136.674 11.3494 137.059 12.3011 137.059 13.4627V13.9165H134.514C134.514 13.2626 134.351 12.7501 134.026 12.3792C133.7 12.0083 133.217 11.8228 132.576 11.8228C131.096 11.8228 130.357 12.8429 130.357 14.8829Z" fill="#748297")
  
  input.display-none#pie-chart-colors(type="text" value=JSON.stringify(pie_chart_colors))
  span.copy-data#copy-data
    span= '<script src= "https://usersmagic.com/js/embed/connection.js"></script> <link rel="stylesheet" href="https://usersmagic.com/css/embed/styling.css"></link>'
  .all-wrapper
    .all-header-wrapper
      a(href="/")
        svg(width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M5.08355 5.43146C5.40117 4.76242 5.43183 3.67231 5.10135 2.52188C4.77058 1.37173 4.16464 0.458231 3.53789 0.0516924C3.22027 0.720731 3.18988 1.81085 3.52037 2.96127C3.85086 4.11142 4.45707 5.02492 5.08355 5.43146ZM8.03521 2.90688C8.32299 1.74569 8.2518 0.657192 7.90981 0C7.29867 0.428885 6.72668 1.36312 6.4389 2.52458C6.15113 3.68577 6.22205 4.77427 6.56403 5.43146C7.17518 5.00258 7.74744 4.06808 8.03521 2.90688ZM8.21428 8.07692C8.21428 6.741 7.10892 5.65385 5.75 5.65385C4.39108 5.65385 3.28571 6.741 3.28571 8.07692V8.88462H8.21428V8.07692ZM5.8869 8.07692C5.8321 8.07833 5.77755 8.06894 5.7265 8.04929C5.67544 8.02965 5.6289 8.00015 5.58962 7.96253C5.55034 7.92492 5.51911 7.87996 5.49779 7.83029C5.47646 7.78062 5.46547 7.72726 5.46545 7.67335C5.46543 7.61944 5.47639 7.56607 5.49768 7.51639C5.51898 7.46671 5.55017 7.42172 5.58942 7.38408C5.62867 7.34645 5.6752 7.31692 5.72624 7.29724C5.77729 7.27756 5.83182 7.26813 5.88663 7.2695C5.99369 7.27218 6.09545 7.31588 6.17021 7.39127C6.24498 7.46666 6.28684 7.56778 6.28688 7.67308C6.28691 7.77838 6.24512 7.87953 6.1704 7.95497C6.09569 8.03041 5.99396 8.07417 5.8869 8.07692ZM7.25595 8.07692C7.14702 8.07692 7.04256 8.03438 6.96553 7.95864C6.88851 7.8829 6.84524 7.78018 6.84524 7.67308C6.84524 7.56597 6.88851 7.46325 6.96553 7.38751C7.04256 7.31178 7.14702 7.26923 7.25595 7.26923C7.36488 7.26923 7.46935 7.31178 7.54637 7.38751C7.62339 7.46325 7.66667 7.56597 7.66667 7.67308C7.66667 7.78018 7.62339 7.8829 7.54637 7.95864C7.46935 8.03438 7.36488 8.07692 7.25595 8.07692ZM11.5 9.69231H0V11.3077H2.46429L1.64286 21H9.85714L9.03571 11.3077H11.5V9.69231Z" fill="white")
      .all-header-title-wrapper
        span.all-header-title.all-header-title-selected#dashboard-button Dashboard
        span.all-header-title#questions-button Questions
    .all-content-wrapper
      .dashboard-content-wrapper
        .navigation-wrapper
          span.navigation-title Dashboard
          .navigation-types-title
            i.fas.fa-chevron-down#navigation-button-icon
            span DATA TYPES
          .navigation-buttons-wrapper
            span.each-navigation-button.selected-navigation-button#all All
            span.each-navigation-button#demographics
              span.each-navigation-button-icon 👩‍ 
              span Demographics
            span.each-navigation-button#brand
              span.each-navigation-button-icon ❤️
              span Brand Likeness
            span.each-navigation-button#product
              span.each-navigation-button-icon 🛍 
              span Product Habbits
        .inner-content-wrapper
          span.graphs-all-title All
          span.graphs-all-subtitle This dataset shows all of the data collected
          .loading-icon-wrapper
            span Loading Graphs...
          .graph-outer-wrapper(style="display: none")
          .no-graph-wrapper(style="display: none")
            span.no-graph-title Looks like you don't have any data yet :(
            span.no-graph-subtitle Did you integrate Usersmagic to your system? Before you start accessing your users with Usersmagic, you must complete your integration setup.
            span.integration-title How to integrate?
            span.integration-text= 'Copy and paste the following code to the end of every <head></head> element in your .html files. Use Copy button for better performance.'
            span.code-wrapper
              span.copy-code-button
                span Copy
                i.fas.fa-copy
              span.code-inner-wrapper
                span.each-code-line
                  span.code-blue= "<script" 
                  span.code-space
                  span.code-white= "src="
                  a.code-yellow(href="https://usersmagic.com/js/embed/connection.js" target="_blank")= "\"https://usersmagic.com/js/embed/connection.js\""
                  span.code-blue= "></script>"
                span.each-code-line
                  span.code-blue= "<link" 
                  span.code-space
                  span.code-white= "rel="
                  span.code-yellow "stylesheet"
                  span.code-space
                  span.code-white= "href="
                  a.code-yellow(href="https://usersmagic.com/css/embed/styling.css" target="_blank")= "\"https://usersmagic.com/css/embed/styling.css\""
                  span.code-blue= "></link>"
      .questions-content-wrapper(style="display: none")
        .navigation-wrapper
          span.navigation-title Questions
          span.each-navigation-button#demographics-questions
            span.each-navigation-button-icon 👩‍ 
            span Demographics
          span.each-navigation-button#brand-questions
            span.each-navigation-button-icon ❤️
            span Brand Likeness
          .navigation-types-title
            i.fas.fa-chevron-down#navigation-button-icon
            span PRODUCTS
          .navigation-buttons-wrapper
            each product in products
              span.each-navigation-button(id=product._id.toString())= product.name
            .create-product-button
              i.fas.fa-plus
              span Add Product
        .inner-content-wrapper
          span.create-product-main-button Add Product
          each questions, i in Object.values(questions_data)
            span.questions-title= i == 0 ? 'Demographics' : (i == 1 ? 'Brand' : products.find(each => each._id.toString() == Object.keys(questions_data)[i].toString().name))
            each question in questions
              span.each-question= question.text
