extends ../partials/head
block content
  .general-form-outer-wrapper#select-integration-path-form(style="display: none")
    .general-form-wrapper
      .general-form-header
        span.general-title#select-integration-path-title
        i.general-form-close-button.fas.fa-times#select-integration-path-close-button
      form.general-form-inner-wrapper
        .general-form-steps-wrapper#select-integration-path-steps-wrapper
        .general-form-inner-content-wrapper#integration-path-inner-content-wrapper
          span.general-subtitle Please select the integration paths you will be using
          span.general-text Note, you can update the integration paths you chose whenever you want. When you have more integration paths, you will be able to reach more customers.
          span.general-small-button.create-integration-path-open-form-button Create New Integration Path
          .general-selected-items-wrapper#integration-path-selected-items-wrapper
          input.general-search-input(type="search" autocomplete="off" placeholder="Search Integration Paths")
          .general-search-items-wrapper#integration-path-search-items-wrapper
            each integration_path in company.integration_paths
              .general-each-search-item-wrapper(class=integration_path._id id=('search_id_' + integration_path._id))
                span.general-each-search-item-name= integration_path.name
                span.general-text Path: #{integration_path.path}
                .general-text-line
                  .general-small-button.select-each-integration-path-button Select
                  if integration_path.type != 'product'
                    i.fas.fa-trash-alt.general-each-search-item-delete-button.integration-path-delete-button
          if !company.integration_paths || !company.integration_paths.length
            span.general-text(style="width: 100%; text-align: center;") You do not have any integration path, please create one.
        .general-form-bottom-wrapper
          span.general-form-error#select-integration-path-error
          .general-bordered-button#select-integration-path-back-button Back
          .general-button#select-integration-path-create-button(style="margin-left: 15px;") Confirm

  .general-form-outer-wrapper#create-integration-path-form-outer-wrapper(style="display: none")
    .general-form-wrapper
      .general-form-header
        span.general-title Create New Integration Path
        i.general-form-close-button.fas.fa-times
      .general-form-inner-wrapper
        span.general-title.general-required-input Integration Path Name
        input.general-input#integration-path-name-input(type="text" placeholder="ex. Login Page" autocomplete="none" required)
        span.general-title.general-required-input Integration Path Link
        input.general-input#integration-path-link-input(type="text" placeholder="ex. /auth/login" autocomplete="none" required)
        span.general-title.general-required-input Integration Code
        span.general-text= 'Copy and paste the following code to the end of the <head></head> element for the .html files of the route you spesify. Use Copy button for better performance.'
        span.code-wrapper
          span.copy-code-button
            span Copy
            i.fas.fa-copy
          span.code-inner-wrapper
            span.each-code-line
              span.code-blue= "<script" 
              span.code-space
              span.code-white= "src="
              a.code-yellow(href="https://integration.usersmagic.com/js/connection.js" target="_blank")= "\"https://integration.usersmagic.com/js/connection.js\""
              span.code-blue= "></script>"
            span.each-code-line
              span.code-blue= "<link" 
              span.code-space
              span.code-white= "rel="
              span.code-yellow "stylesheet"
              span.code-space
              span.code-white= "href="
              a.code-yellow(href="https://integration.usersmagic.com/css/styling.css" target="_blank")= "\"https://integration.usersmagic.com/css/styling.css\""
              span.code-blue= "></link>"
      .general-form-bottom-wrapper
        span.general-form-error#create-integration-path-error
        .general-bordered-button#create-integration-path-back-button Back
        .general-button#create-integration-path-button(style="margin-left: 15px;") Create

  .general-form-outer-wrapper#create-question-form-outer-wrapper(style="display: none")
    .general-form-wrapper
      .general-form-header
        span.general-title Create a New Question
        i.general-form-close-button.fas.fa-times#create-question-form-close-button
      .general-form-inner-wrapper#question-type-form
        span.general-title(style="text-align: center") Please select the question type
        .question-type-wrapper
          .each-question-type-wrapper#question-type-demographics-button
            i.fas.fa-globe(style="color: rgb(130, 106, 249)")
            span Demographics
          .each-question-type-seperator
          .each-question-type-wrapper#question-type-brand-button
            i.fas.fa-tags(style="color: rgb(254, 211, 85)")
            span Brand
          .each-question-type-seperator
          .each-question-type-wrapper#question-type-product-button
            i.fas.fa-tshirt(style="color: rgb(46, 197, 206)")
            span Product
      form.general-form-inner-wrapper#demographics-template-form(style="display: none")
        .general-form-steps-wrapper
          span.general-form-each-step.general-form-each-step-finished 1
          .general-form-each-step-line.general-form-each-step-line-finished
          span.general-form-each-step.general-form-each-step-finished 2
          .general-form-each-step-line
          span.general-form-each-step 3
        .general-form-inner-content-wrapper
          span.general-subtitle Please select the template you want to use
          span.general-text Templates are created by our researchers for you to select and use on your website. If you cannot find what you look for in the list, do not hesitate to reach us at info@usersmagic.com to create the question for you.
          input.general-search-input(type="search" autocomplete="off" placeholder="Search Templates")
          .general-search-items-wrapper
            each template in templates
              if template.type == 'demographics'
                .general-each-search-item-wrapper(id=template._id)
                  span.general-each-search-item-name= template.name
                  span.general-text Template Refreshing Time: #{template.timeout_duration_in_week} weeks
                  span.general-text Question Asked: #{template.text}
                  if template.subtype == 'single' || template.subtype == 'multiple'
                    each choice in template.choices
                      span.general-text(style="margin-left: 5px") • #{choice}
                  if template.min_value && template.max_value
                    span.general-text(style="margin-left: 5px") Answer should be in range from #{template.min_value} to #{template.max_value}, inclusive
                  .general-small-button.create-question-select-each-template-button Select
        .general-form-bottom-wrapper
          span.general-form-error
          .general-bordered-button.create-question-back-to-question-type-button Back
      form.general-form-inner-wrapper#brand-template-form(style="display: none")
        .general-form-steps-wrapper
          span.general-form-each-step.general-form-each-step-finished 1
          .general-form-each-step-line.general-form-each-step-line-finished
          span.general-form-each-step.general-form-each-step-finished 2
          .general-form-each-step-line
          span.general-form-each-step 3
        .general-form-inner-content-wrapper
          span.general-subtitle Please select the template you want to use
          span.general-text Templates are created by our researchers for you to select and use on your website. If you cannot find what you look for in the list, do not hesitate to reach us at info@usersmagic.com to create the question for you.
          input.general-search-input(type="search" autocomplete="off" placeholder="Search Templates")
          .general-search-items-wrapper
            each template in templates
              if template.type == 'brand'
                .general-each-search-item-wrapper(id=template._id)
                  span.general-each-search-item-name= template.name
                  span.general-text Template Refreshing Time: #{template.timeout_duration_in_week} weeks
                  span.general-text Question Asked: #{template.text}
                  if template.subtype == 'single' || template.subtype == 'multiple'
                    each choice in template.choices
                      span.general-text(style="margin-left: 5px") • #{choice}
                  if template.min_value && template.max_value
                    span.general-text(style="margin-left: 5px") Answer should be in range from #{template.min_value} to #{template.max_value}, inclusive
                  .general-small-button.create-question-select-each-template-button Select
        .general-form-bottom-wrapper
          span.general-form-error
          .general-bordered-button.create-question-back-to-question-type-button Back
      form.general-form-inner-wrapper#product-select-form(style="display: none")
        .general-form-steps-wrapper
          span.general-form-each-step.general-form-each-step-finished 1
          .general-form-each-step-line.general-form-each-step-line-finished
          span.general-form-each-step.general-form-each-step-finished 2
          .general-form-each-step-line
          span.general-form-each-step 3
          .general-form-each-step-line
          span.general-form-each-step 4
        .general-form-inner-content-wrapper
          span.general-subtitle Please select the product you will add this question for
          span.general-text By using our templates on your products, you may customize data collection of Usersmagic. As we are currently at our beta version, you may have at most 10 products.
          span.general-small-button.create-product-open-form-button#create-product-open-form-button Create New Product
          input.general-search-input(type="search" autocomplete="off" placeholder="Search Products")
          .general-search-items-wrapper#products-search-items-wrapper
            each product in products
              .general-each-search-item-wrapper(id=product._id)
                span.general-each-search-item-name= product.name
                span.general-text Path: #{product.path}
                .general-text-line
                  .general-small-button.create-question-select-each-product-button Select
                  i.fas.fa-trash-alt.general-each-search-item-delete-button.create-question-delete-product-button
        .general-form-bottom-wrapper
          span.general-form-error
          .general-bordered-button.create-question-back-to-question-type-button Back
      form.general-form-inner-wrapper#product-template-form(style="display: none")
        .general-form-steps-wrapper
          span.general-form-each-step.general-form-each-step-finished 1
          .general-form-each-step-line.general-form-each-step-line-finished
          span.general-form-each-step.general-form-each-step-finished 2
          .general-form-each-step-line.general-form-each-step-line-finished
          span.general-form-each-step.general-form-each-step-finished 3
          .general-form-each-step-line
          span.general-form-each-step 4
        .general-form-inner-content-wrapper
          span.general-subtitle Please select the template you want to use
          span.general-text Templates are created by our researchers for you to select and use on your website. If you cannot find what you look for in the list, do not hesitate to reach us at info@usersmagic.com to create the question for you.
          input.general-search-input(type="search" autocomplete="off" placeholder="Search Templates")
          .general-search-items-wrapper#product-templates-wrapper
        .general-form-bottom-wrapper
          .general-bordered-button.create-question-product-template-back-button Back  

  .general-form-outer-wrapper#create-product-form-outer-wrapper(style="display: none")
    .general-form-wrapper
      .general-form-header
        span.general-title Create New Product
        i.general-form-close-button.fas.fa-times
      .general-form-inner-wrapper
        span.general-title.general-required-input Product Name
        input.general-input#product-name-input(type="text" placeholder="ex. Black Sport Shoes / 12933" autocomplete="none" required)
        span.general-title.general-required-input Product Link
        input.general-input#product-link-input(type="text" placeholder="ex. /shoes?product_code=12933" autocomplete="none" required)
        span.general-title.general-required-input Integration Code
        span.general-text= 'Copy and paste the following code to the end of the <head></head> element for the .html files of the link you spesify. Use Copy button for better performance.'
        span.code-wrapper
          span.copy-code-button
            span Copy
            i.fas.fa-copy
          span.code-inner-wrapper
            span.each-code-line
              span.code-blue= "<script" 
              span.code-space
              span.code-white= "src="
              a.code-yellow(href="https://integration.usersmagic.com/js/connection.js" target="_blank")= "\"https://integration.usersmagic.com/js/connection.js\""
              span.code-blue= "></script>"
            span.each-code-line
              span.code-blue= "<link" 
              span.code-space
              span.code-white= "rel="
              span.code-yellow "stylesheet"
              span.code-space
              span.code-white= "href="
              a.code-yellow(href="https://integration.usersmagic.com/css/styling.css" target="_blank")= "\"https://integration.usersmagic.com/css/styling.css\""
              span.code-blue= "></link>"
      .general-form-bottom-wrapper
        span.general-form-error#create-product-error
        .general-bordered-button#create-product-back-button Back
        .general-button#create-product-button(style="margin-left: 15px;") Create

  .general-form-outer-wrapper#create-target-group-form-outer-wrapper(style="display: none")
    .general-form-wrapper
      .general-form-header
        span.general-title Create New Target Group
        i.general-form-close-button.fas.fa-times
      .general-form-inner-wrapper
        .general-form-inner-content-wrapper
          span.general-title.general-required-input Target Group Name
          input.general-input#target-group-name-input(type="text" placeholder="ex. Female 20-22 Basketball players" autocomplete="none" required)
          span.general-title.general-required-input Target Group Filters
          span.general-text Specify the filters you want to use to segment your customers from the questions you ask on your website.
          .general-selected-items-wrapper#create-target-group-selected-items-wrapper
          input.general-search-input(type="search" autocomplete="off" placeholder="Search Filters")
          .general-search-items-wrapper
            each question in questions
              .general-each-search-item-wrapper(id=('search_id_' + question._id))
                span.general-each-search-item-name= question.name
                span.general-text Question Refreshing Time: #{question.timeout_duration_in_week} weeks
                span.general-text Question Asked: #{question.text}
                span.general-text Allowed Answers:
                if question.subtype == 'single' || question.subtype == 'multiple'
                  .general-checked-input-wrapper
                    input.general-checked-input-value(type="text" value="[]")
                    each choice in question.choices
                      .each-general-checked-input
                        div
                          i.fas.fa-check
                        span #{choice}
                if question.min_value && question.max_value
                  span.general-text(style="margin-left: 5px") Answer should be in range from #{question.min_value} to #{question.max_value}, inclusive
                  input.general-search-input.select-each-question-min-value(style="margin-left: 5px" type="number" autocomplete="off" placeholder="Min Value (inclusive)")
                  input.general-search-input.select-each-question-max-value(style="margin-left: 5px" type="number" autocomplete="off" placeholder="Max Value (inclusive)")
                .general-text-line
                  span.general-form-error
                  .general-small-button.create-target-group-select-each-question-button Select
      .general-form-bottom-wrapper
        span.general-form-error#create-target-group-error
        .general-bordered-button#create-target-group-back-button Back
        .general-button#create-target-group-button(style="margin-left: 15px;") Create

  .general-form-outer-wrapper#create-banner-form-outer-wrapper(style="display: none")
    .general-form-wrapper
      .general-form-header
        span.general-title Create a New Banner
        i.general-form-close-button.fas.fa-times
      .general-form-inner-wrapper#banner-info-form
        .general-form-steps-wrapper
          span.general-form-each-step.general-form-each-step-finished 1
          .general-form-each-step-line
          span.general-form-each-step 2
          .general-form-each-step-line
          span.general-form-each-step 3
        .general-form-inner-content-wrapper
          span.general-title.general-required-input Banner Name
          span.general-text This name is only visible to you
          input.general-input#banner-name-input(type="text" placeholder="ex. T-shirt Ad")
          span.general-title.general-required-input Banner Title
          span.general-text This title will be shown to your customers
          input.general-input#banner-title-input(type="text" placeholder="ex. Our new T-Shirt series is now released!")
          span.general-title.general-required-input Banner Text
          span.general-text This text will be shown to your customers
          input.general-input#banner-text-input(type="text" placeholder="ex. Go to our new collection page to create your style.")
          span.general-title.general-required-input Banner Button Text
          span.general-text This text will be shown to your customers
          input.general-input#banner-button-text-input(type="text" placeholder="ex. Go Now")
          span.general-title.general-required-input Banner Button URL
          span.general-text Your customers will be redirected to this URL when they click the banner button
          input.general-input#banner-button-url-input(type="text" placeholder="ex. https://example.com/new_collection?from_usersmagic=true")
          span.general-title.general-required-input Banner Image
          .general-image-input-outer-wrapper#banner-image-input-outer-wrapper
            label.general-choose-image-input-text
              span Click to choose an image from your device
              input.display-none.image-input(type="file" accept="image/*")
        .general-form-bottom-wrapper
          span.general-form-error#banner-info-error
          .general-bordered-button.close-banner-form-button Cancel
          .general-button#banner-continue-button(style="margin-left: 15px;") Continue
      .general-form-inner-wrapper#banner-target-group-form(style="display: none")
        .general-form-steps-wrapper
          span.general-form-each-step.general-form-each-step-finished 1
          .general-form-each-step-line.general-form-each-step-line-finished
          span.general-form-each-step.general-form-each-step-finished 2
          .general-form-each-step-line
          span.general-form-each-step 3
        .general-form-inner-content-wrapper
          span.general-title.general-required-input Choose the Target Group
          span.general-text Please choose the target group your banner will act on. You may create a new target group from anaysis page.
          input.general-search-input(type="search" autocomplete="off" placeholder="Search Target Groups")
          .general-search-items-wrapper
            each target_group in target_groups
              .general-each-search-item-wrapper(id=target_group._id)
                span.general-each-search-item-name= target_group.name
                each filter in target_group.filters
                  span.general-text #{filter.name}:
                  span.general-text(style="margin-left: 5px")= filter.allowed_answers
                .general-small-button.create-banner-select-each-target-group-button Select
        .general-form-bottom-wrapper
          span.general-form-error#banner-target-group-error
          .general-bordered-button#back-banner-info-form-button Back
          .general-button#banner-target-group-continue-button(style="margin-left: 15px;") Continue

  input.display-none#pie-chart-colors(type="text" value=JSON.stringify(pie_chart_colors))
  input.display-none#target-groups(type="text" value=JSON.stringify(target_groups))
  input.display-none#banners(type="text" value=JSON.stringify(ads))
  span.copy-data#copy-data
    span= '<script src= "https://integration.usersmagic.com/js/connection.js"></script> <link rel="stylesheet" href="https://integration.usersmagic.com/css/styling.css"></link>'
  .all-wrapper
    .all-header-wrapper
      a(href="/")
        svg(width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M5.08355 5.43146C5.40117 4.76242 5.43183 3.67231 5.10135 2.52188C4.77058 1.37173 4.16464 0.458231 3.53789 0.0516924C3.22027 0.720731 3.18988 1.81085 3.52037 2.96127C3.85086 4.11142 4.45707 5.02492 5.08355 5.43146ZM8.03521 2.90688C8.32299 1.74569 8.2518 0.657192 7.90981 0C7.29867 0.428885 6.72668 1.36312 6.4389 2.52458C6.15113 3.68577 6.22205 4.77427 6.56403 5.43146C7.17518 5.00258 7.74744 4.06808 8.03521 2.90688ZM8.21428 8.07692C8.21428 6.741 7.10892 5.65385 5.75 5.65385C4.39108 5.65385 3.28571 6.741 3.28571 8.07692V8.88462H8.21428V8.07692ZM5.8869 8.07692C5.8321 8.07833 5.77755 8.06894 5.7265 8.04929C5.67544 8.02965 5.6289 8.00015 5.58962 7.96253C5.55034 7.92492 5.51911 7.87996 5.49779 7.83029C5.47646 7.78062 5.46547 7.72726 5.46545 7.67335C5.46543 7.61944 5.47639 7.56607 5.49768 7.51639C5.51898 7.46671 5.55017 7.42172 5.58942 7.38408C5.62867 7.34645 5.6752 7.31692 5.72624 7.29724C5.77729 7.27756 5.83182 7.26813 5.88663 7.2695C5.99369 7.27218 6.09545 7.31588 6.17021 7.39127C6.24498 7.46666 6.28684 7.56778 6.28688 7.67308C6.28691 7.77838 6.24512 7.87953 6.1704 7.95497C6.09569 8.03041 5.99396 8.07417 5.8869 8.07692ZM7.25595 8.07692C7.14702 8.07692 7.04256 8.03438 6.96553 7.95864C6.88851 7.8829 6.84524 7.78018 6.84524 7.67308C6.84524 7.56597 6.88851 7.46325 6.96553 7.38751C7.04256 7.31178 7.14702 7.26923 7.25595 7.26923C7.36488 7.26923 7.46935 7.31178 7.54637 7.38751C7.62339 7.46325 7.66667 7.56597 7.66667 7.67308C7.66667 7.78018 7.62339 7.8829 7.54637 7.95864C7.46935 8.03438 7.36488 8.07692 7.25595 8.07692ZM11.5 9.69231H0V11.3077H2.46429L1.64286 21H9.85714L9.03571 11.3077H11.5V9.69231Z" fill="white")
      .all-header-buttons-wrapper
        span.each-all-header-button.each-all-header-button-selected#data-button Data
        span.each-all-header-button#analysis-button Analysis
        span.each-all-header-button#banner-button Banner
        //- span.each-all-header-button#settings-button Settings
    .all-content-wrapper#data-content-wrapper
      .all-content-inner-wrapper
        span.general-title Data / All
        span.general-text This dataset shows all of the data collected on your website
        span.general-button.create-question-button(style="margin-left: auto") Create Question
        .all-content-inner-content-wrapper#loading-data-wrapper(style="display: none")
          span.general-text Loading the Data...
        .all-content-inner-content-wrapper#no-data-wrapper(style="display: none")
          span.general-text(style="text-align: center; max-width: 400px") Looks like you don't have any data yet. Why don't you create some questions to allow Usersmagic to work on your system?
          span.general-button.create-question-button Create Question
        .all-content-inner-content-wrapper#graph-wrapper
          .graph-outer-wrapper
    .all-content-wrapper#analysis-content-wrapper(style="display: none")
      .all-content-inner-wrapper
        span.general-title Analysis
        span.general-text Create target groups to analyse and target your customers
        span.general-button#create-target-group-open-form-button(style="margin-left: auto") Create Target Group
        .all-content-inner-content-wrapper
          .target-groups-outer-wrapper
            each target_group, i in target_groups
              .each-target-group-wrapper
                .each-target-group-header-wrapper
                  .each-target-group-color(style=`background-color: ${pie_chart_colors[i % pie_chart_colors.length]}`)
                  span.general-subtitle #{target_group.name} - (Estimated Count: #{target_group.estimated_people_count})
                  a.each-target-group-export-button(href=`/target_groups/facebook?id=${target_group._id.toString()}`) Facebook Export
                .each-target-group-content-wrapper
                  each filter in target_group.filters
                    span.general-subtitle #{filter.name}:
                    span.general-text= filter.allowed_answers
    .all-content-wrapper#banner-content-wrapper(style="display: none")
      .all-content-inner-wrapper
        span.general-title Banners
        span.general-text Create banners and use your target groups to show your banners to your customers
        span.general-button#create-banner-open-form-button(style="margin-left: auto") Create Banner
        .all-content-inner-content-wrapper
          .banner-outer-wrapper
            each ad in ads
              .each-banner-wrapper(id=ad._id.toString())
                .each-banner-title-wrapper
                  span.general-subtitle.general-text-overflow= ad.name
                  span.general-text.general-text-overflow Created At: #{ad.created_at}
                .each-banner-content-wrapper
                  .each-banner-content-data-wrapper
                    if ad.statistics.total
                      .pie-chart-label-wrapper
                        .pie-chart-each-color-wrapper  
                          .pie-chart-each-color(style=`background-color: ${pie_chart_colors[0]}`)
                          span.pie-chart-each-label Clicked
                        .pie-chart-each-color-wrapper  
                          .pie-chart-each-color(style=`background-color: ${pie_chart_colors[1]}`)
                          span.pie-chart-each-label Showed
                        .pie-chart-each-color-wrapper  
                          .pie-chart-each-color(style=`background-color: ${pie_chart_colors[2]}`)
                          span.pie-chart-each-label Closed
                      .pie-chart-wrapper
                        .pie-chart-color.banner-pie-chart-color(style=`background: conic-gradient(at center, ${pie_chart_colors[0]} 0%, ${pie_chart_colors[0]} ${ad.statistics.clicked / ad.statistics.total * 100}%, ${pie_chart_colors[1]} ${ad.statistics.clicked / ad.statistics.total * 100}%, ${pie_chart_colors[1]} ${(ad.statistics.clicked + ad.statistics.showed) / ad.statistics.total * 100}%, ${pie_chart_colors[2]} ${(ad.statistics.clicked + ad.statistics.showed) / ad.statistics.total * 100}%, ${pie_chart_colors[2]} 100%);`)
                        .pie-chart-white
                    else
                      .pie-chart-wrapper
                        .pie-chart-color.pie-chart-color-default
                        .pie-chart-white
                          span.general-text No Data
                  .each-banner-content-preview-wrapper(style="display: none")
                  .each-banner-content-info-wrapper
                    span.general-text Title: #{ad.title}
                    span.general-text Text: #{ad.text}
                    span.general-text Button Text: #{ad.button_text}
                    span.general-text
                      span Button URL: 
                      a(href=ad.button_url target="_blank" style="color: rgb(140, 212, 224)") #{ad.button_url}
                    .each-banner-buttons-wrapper
                      .each-banner-button.each-banner-delete-button(style="border-color: rgb(237, 72, 80)")
                        i.fas.fa-trash(style="color: rgb(237, 72, 80)")
                        span(style="color: rgb(237, 72, 80)") Delete
                      if ad.is_active
                        .each-banner-button.each-banner-deactivate-button(style="border-color: rgb(254, 211, 85)")
                          i.fas.fa-pause(style="color: rgb(254, 211, 85)")
                          span(style="color: rgb(254, 211, 85)") Pause
                      else
                        .each-banner-button.each-banner-activate-button(style="border-color: rgb(254, 211, 85)")
                          i.fas.fa-play(style="color: rgb(254, 211, 85)")
                          span(style="color: rgb(254, 211, 85)") Activate
                      .each-banner-button(style="border-color: rgb(45, 136, 196)")
                        i.fas.fa-edit(style="color: rgb(45, 136, 196)")
                        span(style="color: rgb(45, 136, 196)") Edit
                      .each-banner-button(style="border-color: rgba(92, 196, 110, 1)")
                        i.fas.fa-eye(style="color: rgba(92, 196, 110, 1)")
                        span(style="color: rgba(92, 196, 110, 1)") Preview
